.Member-mail > span {
  font-weight: lighter;
  color: blue;
  margin: 0px;
  margin-top: 3px;
}

.Member-mail > span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.member > a > svg {
  fill: grey;
  height: 2rem;
  margin: 0.5rem;
  transition: all 0.3s ease-in;
}

.member a:nth-of-type(1) > svg:hover {
  fill: blue !important;
}

.member a:nth-of-type(2) > svg:hover {
  fill: black !important;
}
.about-us > p {
  color: white;
  text-align: justify;
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.member .qualification {
  text-align: center;
}

.about-us > h1 {
  color: white;
}
.about-us,
.team {
  padding: 1.5rem;
}
.team > h2 {
  color: white;
}

h1,
h2 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

.officail-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  row-gap: 2rem;
  place-items: center;
}

.official-element {
  background-color: whitesmoke;
  border-radius: 1rem;
  /* border: 1px solid black; */
  width: 600px;
  height: 300px;
  display: grid;
  grid-template-columns: 35% 65%;
  place-items: center;
}

.official-image {
  width: 70%;
  height: 50%;
  border-radius: 100%;
  object-fit: cover;
}

.official-details {
  width: 100%;
  height: 100%;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.official-name {
  font-size: 2rem;
}

.official-designation {
  font-size: 1.2rem;
  padding-left: 1rem;
  color: rgb(82, 82, 82);
}

.officail-bio {
  font-size: 1rem;
  color: grey;
  line-height: 1.5rem !important;
  letter-spacing: 0.1rem;
  text-align: justify;
}

.offiacl-qualification {
  text-indent: 2rem;
  font-size: 1rem;
}

.official-mail {
  color: rgb(3, 3, 128);
}

.official-mail:hover {
  text-decoration: underline;
  cursor: pointer;
}

.media-links > a > svg {
  height: 1.8rem;
  fill: grey;
  transition: all 0.3s ease-in;
}

.linkedIn:hover {
  fill: blue !important;
  cursor: pointer;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 700px) {
  .officail-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .official-element {
    background-color: whitesmoke;
    border-radius: 1rem;
    width: 300px;
    height: 500px;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .official-image {
    width: 55%;
    height: 45%;
    border-radius: 100%;
    object-fit: cover;
  }
  .official-name {
    font-size: 1.5rem;
  }
  .official-designation {
    font-size: 0.8rem;
    color: rgb(82, 82, 82);
  }
  .official-details {
    width: 100%;
    height: 100%;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
/* Responsive Design */
@media (max-width: 768px) {
  .about-us {
    margin: 0.5rem;
  }
  .team-members {
    flex-direction: column;
  }

  .about-us,
  .team {
    padding: 0.5rem;
  }
}
