.about-us > p {
  color: white;
  text-align: justify;
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.about-us > h1 {
  color: white;
}
.about-us,
.team {
  padding: 1.5rem;
}
.team > h2 {
  color: white;
}

h1,
h2 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

.officail-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  row-gap: 2rem;
  place-items: center;
}

.official-element {
  background-color: whitesmoke;
  border-radius: 1rem;
  /* border: 1px solid black; */
  width: 600px !important;
  height: 300px !important;
  display: grid;
  grid-template-columns: 35% 65%;
  place-items: center;
  /* overflow: hidden; */
}

.official-image {
  width: 70%;
  height: 60%;
  border-radius: 100%;
  object-fit: cover;
}

.official-details {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.official-name {
  font-size: 2rem;
}

.official-designation {
  font-size: 1.2rem;
  padding-left: 1rem;
  color: rgb(82, 82, 82);
}

.officail-bio {
  font-size: 1rem;
  color: grey;
  line-height: 1.5rem !important;
  letter-spacing: 0.1rem;
  width: 95%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-align: justify;
}

.offiacl-qualification {
  text-indent: 2rem;
  font-size: 1rem;
}

.official-mail {
  color: rgb(3, 3, 128);
}

.official-mail:hover {
  text-decoration: underline;
  cursor: pointer;
}

.media-links > a > svg {
  height: 1.8rem;
  fill: grey;
  transition: all 0.3s ease-in;
}

.linkedIn:hover {
  fill: blue !important;
  cursor: pointer;
}

/* Responsive Design */

@media only screen and (min-device-width: 300px) and (max-device-width: 700px) {
  .officail-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0.4rem !important;
    padding: 0 !important;
  }
  .about-us {
    margin: 0.5rem;
  }

  .about-us,
  .team {
    padding: 0.5rem;
  }
  .official-element {
    background-color: whitesmoke;
    border-radius: 1rem;
    width: 320px !important;
    height: 470px !important;
    grid-template-columns: 1fr 3fr;
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
  }

  .official-image {
    width: 100px !important;
    height: 100px !important;
    border-radius: 100%;
    object-fit: cover;
  }

  .official-name {
    font-size: 1.5rem;
  }

  .official-designation {
    font-size: 0.8rem;
    color: rgb(82, 82, 82);
  }

  .official-details {
    width: 100%;
    height: 100%;
    padding: 0rem 0rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  .officail-bio {
    font-size: 1rem;
    color: grey;
    line-height: 1.5rem !important;
    letter-spacing: 0.1rem;
    padding: 1rem !important;
    width: 100% !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10 !important;
    overflow: hidden;
    text-align: justify !important;
    align-items: center !important;
  }
}
