.admin-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 20px;
  padding-top: 0;
  margin-top: 3rem;
}

.admin-dashboard {
  position: relative;
  /* top: 17.5%; */
  margin-right: 7%;
}

.Mui-selected {
  background-color: rgb(222, 238, 243) !important;
  font-weight: 900;
}

.dashboard-nav {
  display: none;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: var(--hover-color) !important;
  color: white;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:focus {
  background-color: var(--hover-color) !important;
  color: white !important;
}
/* edit Carousel */
.carousel-fields >form
{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.carousel-fields >form>input
{
  font-size:1.5rem;
}
.carousel-fields >form>input:disabled,.carousel-fields >form>textarea:disabled
{
  color: black;
  cursor:no-drop;
}
.carousel-fields >form>textarea
{
  font-size:1rem;
  line-height: 1.8rem;
  text-indent: 10rem;
}
.carousel-fields >form>button{
  font-size: 1.3rem;
}


/* Add carousel  */
.add-carousel-item>form> input,.add-carousel-item>form>textarea
{
  font-size: 1.2rem;
  padding: 0.7rem;
}
@media only screen and (min-device-width: 200px) and (max-device-width: 580px) {
  .admin-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .dashboard-list {
    display: none;
  }

  .dashboard-nav {
    display: block;
  }
}
