.officail-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  row-gap: 2rem;
  place-items: center;
}

.official-element {
  background-color: whitesmoke;
  border-radius: 1rem;
  width: 500px;
  height: 250px;
  display: grid;
  grid-template-columns: 35% 65%;
  place-items: center;
}

.official-image {
  width: 70%;
  height: 50%;
  border-radius: 100%;
  object-fit: cover;
}

.official-details {
  width: 100%;
  height: 100%;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.official-name {
  font-size: 2rem;
}

.official-mail {
  color: rgb(3, 3, 128);
}

.official-mail:hover {
  text-decoration: underline;
  cursor: pointer;
}
.media-links > a > svg {
  height: 1.8rem;
  fill: grey;
  margin: 1rem;
  transition: all 0.3s ease-in;
}

.linkedIn:hover {
  fill: blue !important;
  cursor: pointer;
}

.github:hover {
  fill: black !important;
  cursor: pointer;
}
.leetcode,
.gfg,
.hackerrank {
  font-size: 1.4rem;
  color: grey;
}

.leetcode:hover {
  color: rgb(228, 162, 40) !important;
  cursor: pointer;
}
.gfg:hover {
  color: green !important;
  cursor: pointer;
}
.hackerrank:hover {
  color: black !important;
  cursor: pointer;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 700px) {
  .officail-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .official-element {
    background-color: whitesmoke;
    border-radius: 1rem;
    width: 300px;
    height: 300px;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .official-image {
    width: 40%;
    height: 70%;
    border-radius: 100%;
    object-fit: cover;
  }
  .official-name {
    font-size: 1.5rem;
  }
  .official-designation {
    font-size: 0.8rem;
    color: rgb(82, 82, 82);
  }
  .official-details {
    width: 100%;
    height: 100%;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
  }
  .media-links > a > svg {
    height: 1.8rem;
    fill: grey;
    margin: 0.5rem;
    transition: all 0.3s ease-in;
  }
}

/* Alternate.css */

.card {
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--background-color);
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  overflow: hidden;
  padding-right: 0.3rem;
}

.card-description {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 2.5rem;
}

.card-description > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-description-profession {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.card-description-social-follow {
  color: white;
  font-size: 16px;
}

.social_Links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.social_icon {
  display: grid;
  place-items: center;
  place-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.4s;
  text-align: center;
}

.social_icon > svg {
  height: 25px;
  width: 25px;
  margin-top: 1px;
  margin-left: 1px;
  cursor: pointer;
}

.social_icon:first-child:hover {
  background-color: #0a66c2;
  transform: translate(0, -5px);
  fill: antiquewhite;
}

.social_icon:last-child:hover {
  background-color: #0c0c0c;
  transform: translate(0, -5px);
  fill: antiquewhite;
}

.card-image {
  width: 100%;
  height: 50%;
  border-radius: 0.3rem;
  display: block;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in;
}

.teamMembers:hover > :not(:hover) {
  opacity: 0.5;

  transition: all 0.5s ease-in;
}

.teamCarousel {
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.teamCarousel > h1 {
  text-align: center;
  color: white;
}

.teamMembers {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 450px;
  gap: 40px;
  padding: 20px;
  justify-items: stretch;
}

.team-heading {
  color: white;
  text-align: center;
}

.teamCarousel::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  .card {
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    height: fit-content;
  }

  .card-description {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.7rem;
  }

  .card-description-title {
    line-height: 15px;
    font-size: 23px;
  }

  .teamMembers {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 225px;
    gap: 40px;
    padding: 20px;
    justify-items: stretch;
  }

  .teamMembers::-webkit-scrollbar {
    display: block;
  }
}
