:root {
  /* --hover-color: #002366; */
  --hover-color: #022368;

  --background-color: #1c1c1c;
  /* --background-color: black; */
  --shadow-color: 220deg 100% 5%;
  --shadow-elevation-low: 0.2px 0.5px 0.4px hsl(var(--shadow-color) / 1),
    0.2px 0.7px 0.5px -2.5px hsl(var(--shadow-color) / 0.69),
    0.8px 2.4px 1.9px -5px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium: 0.2px 0.5px 0.4px hsl(var(--shadow-color) / 1),
    0.3px 0.9px 0.7px -1.7px hsl(var(--shadow-color) / 0.82),
    1.2px 3.9px 3.1px -3.3px hsl(var(--shadow-color) / 0.55),
    3.9px 12px 9.5px -5px hsl(var(--shadow-color) / 0.27);
  --shadow-elevation-high: 0.2px 0.5px 0.4px hsl(var(--shadow-color) / 1),
    0.2px 0.7px 0.5px -0.7px hsl(var(--shadow-color) / 0.89),
    0.7px 2.1px 1.7px -1.4px hsl(var(--shadow-color) / 0.76),
    2px 6.1px 4.8px -2.1px hsl(var(--shadow-color) / 0.63),
    4.4px 13.8px 10.9px -2.9px hsl(var(--shadow-color) / 0.51),
    8.5px 26.4px 20.8px -3.6px hsl(var(--shadow-color) / 0.38),
    14.6px 45.4px 35.8px -4.3px hsl(var(--shadow-color) / 0.25),
    23.1px 71.7px 56.5px -5px hsl(var(--shadow-color) / 0.13);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}
.user-verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-verify-button {
  outline: none;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1.09rem;
  color: black;
  margin-top: 7rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.user-verify-button:hover {
  color: white;
  background-color: var(--hover-color);
}

/* Contact us styles */

.contact-container {
  margin-top: 3rem;
  width: 100%;
  background-color: var(--background-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sub-contact-container {
  background-color: white;
  padding: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-elevation-medium);
}
.logout {
  display: flex;
  gap: 0.3rem;
}
.logout-icon {
  fill: white;
  height: 1.3rem;
  text-align: center;
  display: none;
}
.contact-head {
  margin: 0;
  padding: 0;
  padding: 0.7rem;
}

.contact-head h4,
.contact-head h3 {
  margin: 0;
  font-weight: 500;
  margin-top: 0.3rem;
}

.sub-contact-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-fields {
  padding: 0.5rem;
}

.contact-fields form input {
  background-color: #f2f2f2;
  border-radius: 0.3rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

.contact-fields form input::placeholder,
.contact-fields form textarea::placeholder {
  color: gray;
  font-size: 0.9rem;
}

.contact-fields form textarea {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  font-size: 1rem;
}

.contact-visit-info {
  color: white;
}

.submit-message {
  font-size: 1rem;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.submit-message:hover {
  background-color: var(--hover-color);
  color: white;
}
.submit-message:disabled
{
  background-color: rgb(222,222,222);
  cursor: not-allowed;
}

.contact-visit-info > div {
  display: flex;
  gap: 3rem;
  height: 19rem;
  align-items: center;
}

.addr {
  padding-bottom: 0.5rem;
}

.contact-visit-info .visit-info h3,
.contact-visit-info .contact-info h3 {
  font-weight: 500;
  margin-bottom: 0.9rem;
}

/* Carousal styles */

.thumbs {
  display: none;
}

.carousel .slide-holder {
  width: 100%;
  height: 450px;
  transition: all 0.5s ease-in-out;
  display: grid;
  place-items: center;
}

.carousel .slide-holder::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
div .images {
  height: 25rem;
}

.carousel .slide-holder:hover {
  /* filter: grayscale(0.4) brightness(0.8); */
  border-image: fill 0.01 linear-gradient(rgba(255, 255, 255, 0.067), black);
  filter: grayscale(0);
}

.carousel .slide-holder:hover::after {
  opacity: 1;
  inset: 20px;
}

.text-container {
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.text-container > h2 {
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

.text-container > p {
  color: rgb(252, 250, 250);
  font-size: 18px;
  text-align-last: center;
  font-weight: bolder;
}

.carousel .slide-holder:hover .text-container {
  opacity: 1;
}

.control-dots {
  z-index: -999 !important;
}

.control-arrow {
  z-index: -999 !important;
}

/* different */

.carousal-content {
  padding: 2rem;
  color: white;
  text-align: justify;
}

.carousal-content h2,
.carousal-content h4 {
  font-weight: 500;
  margin-top: 1rem;
  line-height: 1.5rem;
}

/* Domain styling */

.domain-container {
  margin: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-elevation-high);
}

.domain-container #scroll {
  padding: 1rem;
  display: flex;
  overflow-x: hidden;
  gap: 1.5rem;
}
.domain-container .domain-head {
  margin: 1rem;
  text-align: center;
}
.domain-container > div::-webkit-scrollbar {
  display: none;
}

.domain-element {
  color: white;
  display: inline-block;
  padding: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.3s;
}

.domain-image img {
  height: 13rem;
  width: 13rem;
  border-radius: 0.3rem;
}

.domain-element:hover {
  scale: 1.05;
}

.domain-name {
  text-align: center;
  padding: 0.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .contact-container {
    padding: 1.5rem;
    flex-direction: column-reverse;
  }
  .logout-icon {
    display: block;
  }
  .contact-visit-info {
    padding: 0;
    color: white;
  }

  .contact-visit-info > div {
    height: 5rem;
    margin-top: 5rem;
  }

  .carousal-container {
    flex-direction: column;
  }

  .carousal-content {
    width: 100%;
  }

  .events-notice {
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem;
  }

  .total-event-info {
    width: 25rem;
  }

  .total-news-info {
    width: 25rem;
  }

  .event-element {
    justify-content: space-between;
  }

  .notice-element {
    justify-content: space-between;
  }

  .domain-container #scroll {
    overflow-x: scroll;
  }
  .carousel .slide-holder {
    width: 100%;
    height: 400px;
    transition: all 0.5s ease-in-out;
    display: grid;
    place-items: center;
  }
  .control-dots .dot {
    z-index: -999 !important;
  }

  .control-arrow {
    z-index: -999 !important;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .contact-container {
    padding: 1.5rem;
    flex-direction: column-reverse;
  }

  .contact-visit-info {
    padding: 0;
    color: white;
  }

  .contact-visit-info > div {
    height: 5rem;
    margin-top: 5rem;
  }

  .carousal-container {
    flex-direction: column;
  }

  .carousal-content {
    width: 100%;
  }

  .events-notice {
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem;
  }

  .total-event-info {
    width: 25rem;
  }

  .total-news-info {
    width: 25rem;
  }

  .event-element {
    justify-content: space-between;
  }

  .notice-element {
    justify-content: space-between;
  }

  .domain-container > div {
    overflow-x: scroll;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .events-notice {
    flex-direction: column;
    gap: 3rem;
  }

  .event-element {
    justify-content: space-between;
  }

  .total-event-info {
    width: 55rem;
  }

  .notice-element {
    justify-content: space-between;
  }

  .total-news-info {
    width: 65rem;
  }
}
